---
import { pwaInfo } from "virtual:pwa-info";
import ReloadPrompt from "../components/ui/ReloadPrompt.astro";

interface Props {
  title: string;
  description: string;
}

const ogImage = "https://tc.gdscyu.com/opengraph.jpeg";
const siteURL = "https://tc.gdscyu.com/";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Twitter -->
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />
    <meta property="twitter:url" content={siteURL} />
    <meta property="twitter:card" content="summary_large_image" />

    <!-- Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content="website" />

    <meta name="theme-color" content="#0a0a0a" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body class="overflow-x-hidden bg-neutral-950 text-slate-100">
    <slot />
    <ReloadPrompt />
  </body>
</html>
